.reporting-container {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.header {
  background-color: #b23a8b;
  color: white;
  padding: 16px 24px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.actions-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-report-btn {
  background-color: #8aa98e;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 85px;
}

.add-report-btn:hover {
  background-color: #729377;
}

.filters select {
  margin-right: 40px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.table-wrapper {
  overflow-x: auto;
}

.reporting-table {
  padding: 20px;
  width: 90%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 80px;
}

.reporting-table th,
.reporting-table td {
  padding: 10px 10px;
  border: 1px solid #ddd;
  text-align: center;
  
}

.reporting-table th {
  background-color: #ccc;
  font-weight: bold;
}

.view-map-btn {
  background-color: #36b4a7;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 6px;
}

.view-map-btn:hover {
  background-color: #2e9c93;
}

.delete-btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #3e8e41;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 24px;
  border-radius: 10px;
  width: 400px;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.loading {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
