#root {
  /* Ensure it takes up the full height of the viewport */
  min-height: 100vh;
  /* Set the background color */
  background-color: linear-gradient(135deg,#d63384,#e83e8c);
}
.otp-container {
  
  display: flex;
  
  
  flex-direction: column;
  
 
  align-items: center;
  
  padding: 30px;
  background-color:linear-gradient(135deg, #d63384, #e83e8c);
  border-radius: 10px;
   box-shadow: 6px 6px 18px;
  max-width: 400px; 
  margin: 50px auto;
  margin-top:12%;
}

.otp-container h2 {
  margin-bottom: 20px;
}

.otp-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.otp-container button {
  padding: 12px 18px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
    background: #808080;
  cursor: pointer;
   color: black;
  box-shadow: 0px 1px 7px 0px;
}

.otp-container button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.otp-container p {
  margin-top: 15px;
  color: #333;
}
.otp-container form, 
.otp-container > button {
  width: 100%;
  max-width: 250px;
}
.otp-container form button[type="submit"] {
  width: 100%;
  background: #009921;
}
